 .header__section>.navbar {
   padding: 0;

   @include media-breakpoint-up(lg) {
     flex: 1;
     max-width: 1500px;
   }
 }

 .navbar-collapse {
   @include media-breakpoint-up(lg) {
     justify-content: space-evenly;
   }
 }

 .dropdown-menu {
   border: 0;
   border-radius: 0;
   position: relative;
   width: 100%;

   @include media-breakpoint-up(lg) {
     position: absolute;

     &>li {
       border-bottom: 1px solid #d8d8d8;
     }

     &>li:last-child {
       border-bottom: 0;
     }
   }
 }

 a.dropdown-toggle {
   display: inline-block;

   @include media-breakpoint-up(lg) {
     display: block;
   }
 }

 .dropdown.show>.mobile__toggle:after {
   content: '-';

 }

 .dropdown>.mobile__toggle:after {
   content: '+';
   font-size: 24px;
   display: block;
   line-height: 0;
   position: relative;
   margin-top: -2px;
   margin-left: 0;
   text-align: center;
 }
 a.dropdown-toggle::after {
   display: none;
    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
 }
 .mobile__toggle {
   display: block;
   font-size: 0;
   float: right;
   margin-top: 5px;
   background: #fff;
   position: relative;
   border-radius: 20px;
   width: 30px;
   height: 30px;
   color: $c-orange;
   
   border: solid 1px $c-orange;
   outline: 0;

   &:focus {
     outline: 0;
   }

   @include media-breakpoint-up(lg) {
     display: none;
   }
 }

 .dropdown-menu.show {
   position: relative;
   width: 100%;
   border: 0;

   @include media-breakpoint-up(lg) {
     display: none;
   }
 }

 .navbar-toggler span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: $c-dark-gray;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
     background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
     opacity 0.55s ease;
 }

 .navbar-light .navbar-toggler {
   border: 0;
 }

 .navbar-toggler {
   height: 50px;
   padding-left: 24px;
   border: 0;
 }

 .navbar-toggler-icon {
   position: relative;
 }

 .navbar-toggler {
   border: none;
   background: transparent !important;
 }

 .navbar-toggler:hover {
   background: transparent !important;
 }

 .navbar-toggler.icon-bar {
   width: 22px;
   transition: all 0.2s;
 }

 .navbar-toggler .top-bar {
   transform: rotate(45deg);
   transform-origin: 10% 10%;
 }

 .navbar-toggler .middle-bar {
   opacity: 0;
 }

 .navbar-toggler .bottom-bar {
   transform: rotate(-45deg);
   transform-origin: 10% 90%;
 }

 .navbar-toggler.collapsed .top-bar {
   transform: rotate(0);
   padding-left: 20px;
 }

 .navbar-toggler.collapsed .middle-bar {
   opacity: 1;
 }

 .navbar-toggler.collapsed .bottom-bar {
   transform: rotate(0);
 }


 @media all and (min-width: 992px) {
   .navbar .nav-item .dropdown-menu {
     display: none;
   }

   .navbar .nav-item:hover .dropdown-menu {
     display: block;
   }

   .navbar .nav-item .dropdown-menu {
     margin-top: 0;
     border-radius: 0;
     border: 0;
   }
 }