.background__form-text {
  padding: 5rem 0;
}

.img__form-text {
  color: $c-white;
  .left__content {
    font-size: 36px;
    letter-spacing: 0;
    line-height: 46px;
  }
  .right__content {

  }
}