
.worktile {
  background: $c-white;
  box-shadow: 0 5px 8px 0 rgba(16, 0, 0, 0.10);
  border-radius: 2px;
  position: relative;
}

.worktile__brand {
  position: relative;
  img {
    margin-bottom: 0;
  }
}

.worktile__info {
  padding: 40px;
}
.worktile__logo {
  position: absolute;
  max-width: 165px;
  width: 100%;
  z-index: 30;
  bottom: 20px;
  margin-left: 30px;
}

.worktile__title {
  font-size: 23px;
  line-height: 32px;
  position: relative;
  a {
    color: $c-darker-green;
  }
  svg {
    margin-left: 10px;
    color: $brand-green;
  }
}
.worktile__text {
  font-size: 20px;
  color: $c-darker-green;
}