.numbered-tile {
  font-size: 20px;
  color: $c-dark-gray;
  letter-spacing: 0;
  line-height: 30px;
  background: $c-white;
  box-shadow: 0 10px 30px 10px rgba(16, 0, 0, 0.10);
  border-radius: 2px;
  padding: 30px;
}
.numbered-tile__title {
  font-size: 24px;
}
.numbered-tile__description {
  font-size: 20px;
  margin-top: 15px;
  padding-bottom: 10px;
}