.header__section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  border-bottom: 1px solid $c-black;
}

.main_logo svg {
  max-width: 270px;

  @include media-breakpoint-up(lg) {
    max-width: 300px;
  }
}

.work_us {
  background: $c-dark-gray;
  color: $c-white;
  border-radius: 20px;
  padding: 10px 30px;
  line-height: 1.5;
  margin: 20px 10px;
  display: block;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: $c-white;
    background: $brand-green;
  }

  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}