.header__section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid $c-black;
}
.work_us {
  background: $c-dark-gray;
  color: $c-white;
  border-radius: 20px;
  padding: 5px 30px;
  
  &:hover {
    text-decoration: none;
    color: $c-white;
    background: $brand-green;
  }
}