body {
  background-color: #fff;
  a {
    color: $brand-green;

    &:hover {
      text-decoration: none;
      color: $c-green-light;
    }
  }
}

h4,
h5,
h6 {
  font-size: 16px;
}

.page-title {
  padding: 50px 0;
  font-size: 30px;
  display: block;
}

.background[data-text-color="light"] {
  color: $c-white;
}