body {
  background-color: #fff;
  font-family: $font-default;
  overflow-x: hidden;
  a {
    color: $brand-green;
    font-family: $font-default;
    &:hover {
      text-decoration: none;
      color: $c-green-light;
    }
  }
}
h1,
h2 {
  font-family: $font-default;
}
h3 {
  font-family: $font-default;
  font-size: 30px;
}
h4,
h5,
h6 {
  font-size: 16px;
  font-family: $font-default;
}

.page-title {
  padding: 50px 0;
  font-size: 30px;
  display: block;
}

.background[data-text-color="light"] {
  color: $c-white;
}
[data-vertical-alignment="center"] {
  text-align: center;
}

.button {
  color: $c-white;
  border-radius: 20px;
  background: $c-dark-gray;
  padding: 5px 10px;
  display: block;
  text-align: center;

  @include media-breakpoint-up(md) {
    display: inline-block;
    padding: 5px 20px;
  }
  &:hover {
    text-decoration: none;
    color: $c-white;
    background: $brand-green;
  }
}
.over__top {
   position: relative;
   top: -120px;
}

.image__wrapper {
  &[data-vertical-alignment='center'] {
    display: grid;
    align-items: center;
    height: 100%;
  }
}