body {
  background-color: #fff;
  a {
    color: $brand-green;

    &:hover {
      text-decoration: none;
      color: $c-green-light;
    }
  }
}
h3 {
  font-size: 24px;
}
h4,
h5,
h6 {
  font-size: 16px;
}

.page-title {
  padding: 50px 0;
  font-size: 30px;
  display: block;
}

.background[data-text-color="light"] {
  color: $c-white;
}
[data-vertical-alignment="center"] {
  text-align: center;
}

.button {
  color: $c-white;
  border-radius: 20px;
  background: $c-dark-gray;
  padding: 5px 10px;
  display: block;
  text-align: center;

  @include media-breakpoint-up(md) {
    display: inline-block;
    padding: 5px 20px;
  }
  &:hover {
    text-decoration: none;
    color: $c-white;
    background: $brand-green;
  }
}
.over__top {
   position: relative;
   top: -120px;
}