.path-frontpage {
  .services-block {
    [data-layout='stacked'] {
      position: relative;
      @include media-breakpoint-up(lg) {
        &::after {
          content: '';
          width: 1px;
          height: 100%;
          background: $c-accent-1;
          position: absolute;
          left: -14px;
        }
      }
      
    }

    [data-layout='stacked']:first-of-type {
      &:after {
        display: none;
      }
    }
  }
  .slice__wrapper {
    &[data-background-color='teal'] {
      .image__wrapper {
       padding: 12px;
      }
    }
  }
  
}
