/**
 * Main Nav.
 */

.main__menu {

  margin: 0;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav-item {
    &:hover {
      color: $c-dark-green;
    }
  }

  >li {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0;
    border-bottom: 1px solid $dark-black;
    @include media-breakpoint-up(xl) {
      padding: 0 18px;
    }
    a {
      color: $dark-black;

      &:hover {
        text-decoration: none;
        color: $dark-black;
      }
    }

    &:first-child {
      border-top: 1px solid $dark-black;
      margin-top: 20px;
    }

    &:last-child {
      border: 0;
    }

    @include media-breakpoint-up(lg) {
      border-bottom: 0;
      border-top: 0;
      margin: 0;
      &:first-child {
        border-top: 0;
        margin-top: 0;
      }
    }

  }

  >.nav-item>a.active:after {
    content: '';
    border: 0;

    @include media-breakpoint-up(lg) {
      border-top: 0;
      border-color: $c-orange;
      border-bottom: 4px solid $c-orange;
      display: block;
      position: relative;
      top: 19px;
      width: 100%;
    }

  }

}