.page-apigee-developer-portal-consulting {
  .header__section {
    background: rgba(#a2dc97, 0.1);
  }

  .hero__wrapper {
    background: rgba(#a2dc97, 0.1);
    padding-bottom: 60px;
  }

  .over__top {
    position: relative;
    top: -35px;
  }
}

.page-services {
  .header__section {
    background: rgba($c-yellow, 0.1);

  }

  .hero__wrapper {
    background: rgba($c-yellow, 0.1);
    padding-bottom: 60px;

    .link__block {
      text-align: center;

      .link__item {
        display: inline-block;
        margin-right: 10px;

        a {
          color: $dark-black;
          border-radius: 20px;
          font-size: 14px;
          background: $gray-light;
          padding: 5px 20px;
        }
      }
    }
  }
}

.page-about {
  .header__section {
    background: rgba($c-green-light, 0.1);
  }

  .hero__wrapper {
    background: rgba($c-green-light, 0.1);
    padding-bottom: 60px;
  }

  .over__top {
    position: relative;
    top: -45px;
  }

  .shape__charts {
    .image-title-text {
      position: relative;
    }

    .image-title-text__content {
      position: absolute;
      text-align: center;
      width: 100%;
      padding: 25px 10px;
      z-index: 10;
      letter-spacing: -0.12px;

      p {
        margin: 0;
        line-height: 1.5;
      }

      p:first-child {
        font-size: 60px;
      }

      p:last-child {
        font-size: 20px;
      }
    }

    .image-title-text__image {
      position: relative;
      z-index: 1;

      img {
        margin-bottom: 0;
      }
    }
  }
}

.page-careers {
  .header__section {
    background: rgba($c-green-light, 0.1);
  }

  .hero__wrapper {
    background: rgba($c-green-light, 0.1);
    padding-bottom: 120px;
  }
}

.top__section {
  padding-top: 30px;

  @include media-breakpoint-up(md) {
    padding-top: 60px;
  }

  h1 {
    font-size: 25px;
    margin-top: 0;

    @include media-breakpoint-up(md) {
      font-size: 36px;
      margin-top: 75px;
    }
  }
}

.openings-perks {
  li {
    list-style: none;
    position: relative;
  }

  li:before {
    content: '\f00c';
    font-family: 'Font Awesome 5 free';
    position: absolute;
    margin-left: -30px;
    color: $c-orange;
  }

  &__link {
    margin: 30px 0;

    a {
      color: $c-white;
      border-radius: 20px;
      background: $c-dark-gray;
      padding: 5px 10px;
      display: block;
      text-align: center;

      @include media-breakpoint-up(md) {
        display: inline-block;
        padding: 5px 20px;
      }
    }
  }
}

.page-team,
.page-our-team {
  .header__section {
    background: rgba($c-green-light, 0.1);
  }

  .hero__wrapper {
    background: rgba($c-green-light, 0.1);
    padding-bottom: 140px;
  }
}

.page-drupal-9 {
  .header__section {
    background: rgba($c-green-light, 0.1);
  }

  .hero__wrapper {
    background: rgba($c-green-light, 0.1);
    padding-bottom: 140px;
  }
}

.slice__wrapper {
  &[data-background-color='c-green'] {
    .slice__row>div:first-child {
      padding: 60px 20px 0 20px;
      background: rgba($c-green-light, 0.1);
    }
  }

  &[data-background-color='c-orange'] {
    .slice__row>div:first-child {
      padding: 60px 20px 0 20px;
      background: rgba($c-orange, 0.3);
    }
  }
}

.page-contact,
.page-start-a-project {
  .top__content .hero__wrapper {
    padding: 0;
  }

  .contact__form {
    padding-top: 60px;
  }
}