
 
.slice__row {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  counter-reset: numbered-tile;
  // &[data-content-width='edge'] {}
  &[data-content-width='100'] {
     @extend .container;
  }

  &[data-content-width='80'] {
     @include make-container();
     max-width: 912px;
  }

  &[data-content-width='60'] {
     @include make-container();
     max-width: 684px;
  }

  
  &[data-column-arrangement='one'] {
    display: block;
  }

  &[data-column-arrangement='two--column'] {
    @include media-breakpoint-up(md) {
      display: block;
      column-count: 2;
      column-gap: 30px;

      >div {
        break-inside: avoid;
      }
    }
  }

  &[data-column-arrangement='two--equal'] {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &[data-column-arrangement='two--equal-reversed'] {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense;

      >div:nth-child(2n+1) {
        grid-column-start: 2;
      }

      >div:nth-child(2n+2) {
        grid-column-start: 1;
      }
    }
  }

  &[data-column-arrangement='two--content-sidebar-right'] {
   @include media-breakpoint-up(md) {
      grid-template-columns: 8fr 4fr;

      >div:nth-child(2n+1) {
        grid-column-start: 1;
      }

      >div:nth-child(2n+2) {
        grid-column-start: 2;
      }
    }

     @include media-breakpoint-up(lg) {
      grid-template-columns: 8fr 1fr 3fr;

      >div:nth-child(2n+2) {
        grid-column-start: 3;
      }
    }
  }

  &[data-column-arrangement='two--84'] {
    @include media-breakpoint-up(sm) {
      // 67% 33%
      grid-template-columns: 2fr 1fr;
    }
  }

  &[data-column-arrangement='three--equal'] {
   @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

     @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &[data-column-arrangement='three--354'] {
    @include media('<md') {
      display: block;
    }

    @include media('>=md', '<lg') {
      // 25% 42% 33%
      grid-template-columns: 1fr 2fr;

      >div:nth-child(3n+3) {
        grid-column: 1 / span 2;
      }
    }

     @include media-breakpoint-up(lg) {
      // 25% 42% 33%
      grid-template-columns: 0.25fr 0.42fr 0.33fr;
    }
  }

  &[data-column-arrangement='three--contact-john'] {
    @include media('<lg') {
      grid-template-columns: 4fr 1fr;
      grid-auto-flow: dense;
      grid-template-rows: auto;

      >div:nth-child(3n+1) {
        grid-row: 1 / span 1;
      }

      >div:nth-child(3n+2) {
        grid-column-start: 1;
      }

      >div:nth-child(3n+3) {
        grid-row: 1 / span 2;
      }
    }

    @include media('<sm') {
      grid-template-columns: 2fr 1fr;
    }

    @include media('<md') {
      grid-template-columns: 2.5fr 1fr;
    }

     @include media-breakpoint-up(lg) {
      grid-template-columns: 2.4fr 2fr 0.7fr;
    }

    @include media('>=xl') {
      grid-template-columns: 3fr 2fr 1fr;
    }
  }

  &[data-column-arrangement='four--equal'] {
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

   @include media-breakpoint-up(md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &[data-column-arrangement='five--equal'] {
    @include media('>=464px') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, 1fr);
    }

   @include media-breakpoint-up(md) {
      grid-template-columns: repeat(4, 1fr);
    }

     @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &[data-column-arrangement='six--equal'] {
    @include media('>=390px') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('>=585px') {
      grid-template-columns: repeat(3, 1fr);
    }

   @include media-breakpoint-up(md) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &[data-column-arrangement='portfolio--a'] {
     @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;

      >div {
        // &:nth-child(5n+1) {
        //   grid-column: 1 / span 1;
        //   grid-row: 1 / span 2;
        // }

        &:nth-child(5n+2) {
          grid-column: 2 / span 1;
          grid-row: 1 / span 1;
        }

        &:nth-child(5n+3) {
          grid-column: 2 / span 1;
          grid-row: 2 / span 1;
        }

        &:nth-child(5n+4) {
          grid-column: 1 / span 1;
          grid-row: 3 / span 2;
        }

        &:nth-child(5n+5) {
          grid-column: 2 / span 1;
          grid-row: 3 / span 2;
        }
      }
    }
  }

  &[data-column-arrangement='work'] {
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);

      >div {

        // Every 5 should be "big" (2 column X 2 row)
        &:nth-child(5n+5) {
          grid-column-end: span 2;
          grid-row-end: span 2;
        }
      }
    }

   @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;

      >div {

        // Undo the "big" items (2x2 above)
        &:nth-child(5n+5) {
          grid-column: auto;
          grid-row: auto;
        }

        // These specific items should be "big"
        &:nth-child(5),
        &:nth-child(10),
        &:nth-child(17),
        &:nth-child(22),
        &:nth-child(29),
        &:nth-child(34) {
          grid-column-end: span 2;
          grid-row-end: span 2;
        }
      }
    }
  }

  &[data-column-arrangement='ten--equal'] {
    @include media('>=464px') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(4, 1fr);
    }

   @include media-breakpoint-up(md) {
      grid-template-columns: repeat(6, 1fr);
    }

     @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(8, 1fr);
    }

    @include media('>=xl') {
      grid-template-columns: repeat(10, 1fr);
    }
  }

  // &[data-top-spacing='none'] {}
  &[data-top-spacing='small'] {
    padding-top: $row-spacing-small;

    >[data-vertical-alignment='top'] {
      margin-top: -$row-spacing-small;
    }
  }

  &[data-top-spacing='medium'] {
    padding-top: $row-spacing-medium;

    >[data-vertical-alignment='top'] {
      margin-top: -$row-spacing-medium;
    }
  }

  &[data-top-spacing='large'] {
    padding-top: $row-spacing-large;

    >[data-vertical-alignment='top'] {
      margin-top: -$row-spacing-large;
    }
  }

  // &[data-bottom-spacing='none'] {}
  &[data-bottom-spacing='small'] {
    padding-bottom: $row-spacing-small;

    >[data-vertical-alignment='bottom'] {
      align-self: end;
      margin-bottom: -$row-spacing-small;
    }
  }

  &[data-bottom-spacing='medium'] {
    padding-bottom: $row-spacing-medium;

    >[data-vertical-alignment='bottom'] {
      align-self: end;
      margin-bottom: -$row-spacing-medium;
    }
  }

  &[data-bottom-spacing='large'] {
    padding-bottom: $row-spacing-large;

    >[data-vertical-alignment='bottom'] {
      align-self: end;
      margin-bottom: -$row-spacing-large;
    }
  }

  // &[data-content-spacing='default'] {}
  &[data-content-spacing='none'] {
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  &[data-content-spacing='skinny'] {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  &[data-content-spacing='fat'] {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  &[data-content-borders='top']>div {
    padding-top: 15px;
    border-top: 1px solid;
  }

}
