/**
 * Custom Color.
 */
$c-white:           #fff;
$c-black:           #000;
$darker-black:      #333;
$dark-black:        #1b272e;
$brand-green:       #00a4af;
$light-green:       #34c5c6;
$c-green-light:     #7fd2d7;
$light-black:       #5a6368;
$c-orange:          #f55e00;
$c-yellow:          #fdff7a;
$c-dark-gray:       #313d42;
$gray-light:        #f5f5f5;
$c-dark-green:      #1c292f;
$c-darker-green:    #333d42;
/**
 * Colors.
 */
$c-site-bg: #fff;

$c-primary: $brand-green;
$c-primary-hover: darken($c-primary, 10%);

$c-secondary: $darker-black;
$c-secondary-hover: darken($c-secondary, 10%);

$c-tertiary:$light-black;
$c-tertiary-hover: darken($c-tertiary, 10%);

$c-accent-1: #ccc;
$c-accent-2: #ccc;
$c-accent-3: #ccc;

$c-body: #666;

$c-link: $c-primary;
$c-link-hover: darken($c-link, 10%);

$gray-base: #151515 !default;
$gray-darker: #353535;
$gray-dark: #838a8e;
$gray: #727479;
$gray-lighter: #f2f0f0;
$gray-02: #979797;


/**
 * Fonts.
*/



/**
 * Site styles.
 */
$border-radius: 4px;

$row-spacing-small: 20px;
$row-spacing-medium: 50px;
$row-spacing-large: 80px;

/*** custom grid ***/

$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: ( // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px);

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px);

@mixin make-max-widths-container-width($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {

  @each $breakpoint,
  $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}