.blog-page {
  h1 {
    font-size: 36px;
  }

  .sidebar__title {
    text-transform: uppercase;
    font-size: 20px;
  }

  .post_date {
    display: flex;
    flex: 1;
    font-size: 20px;
  }

  .main__wrapper {
    margin-top: 80px;
  }
}

.blog__header {
  border-bottom: 1px solid $gray-dark;
  margin: 30px 0;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.blog__categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px 0;

  div {
    margin-left: 20px;

    a {
      color: $dark-black;
      font-size: 14px;
      border-radius: 20px;
      background: $gray-light;
      padding: 5px 20px;
    }

    a:hover {
      background: $dark-black;
      color: $c-white;
    }
  }
}

/** author style ***/
.author {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  margin-bottom: 20px;

  &__picture {
    margin-right: 10px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
  }
}

.share__blog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
  }

}

.category__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 60px 0;
  padding-top: 30px;
  border-top: 1px solid $c-black;
  justify-content: center;

  .tag {
    margin: 5px;
  }

  a {
    color: $dark-black;
    font-size: 14px;
    border-radius: 20px;
    background: $gray-light;
    padding: 5px 20px;
  }

  a.active {
    background: $dark-black;
    color: $c-white;
  }

  a:hover {
    background: $dark-black;
    color: $c-white;
  }

}

.path-blog {
  .secondary__section {
    padding-top: 30px;
    padding-bottom: 90px;
    background: rgba($c-orange, 0.3);
  }

  .header__section {
    margin-bottom: 50px;
  }
}

.blog__listing {
  display: inline-block;
  position: relative;
  top: -70px;

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


/** blog teaser ***/

.blog__teaser {
  background: $c-white;
  box-shadow: 0 10px 30px 10px rgba(16, 0, 0, 0.10);
  border-radius: 2px;
  max-width: 100%;
  padding: 20px;
  margin: 15px 0;
  display: inline-block;

  @include media-breakpoint-up(sm) {
    max-width: 49%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  h3 {
    a {
      color: $dark-black;
      font-size: 22px;
    }

    svg {
      color: $brand-green;
      font-size: 20px;
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}

.blog__teaser-image {
  margin-right: 10px;
}

.blog__teaser-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  font-size: 14px;
}

.blog__teaser-date {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}