.contact__form {
  .form-group {
    margin-bottom: 2rem;
  }
  .form-control {
    border: 0;
    border-bottom: 1px solid $c-dark-gray;
    border-radius: 0;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  button {
    margin-top: 30px;
    background: $c-dark-gray;
    border-radius: 20px;
    border: 0;
    max-width: 100%;
    width: 170px;

  }
  #textarea {
    border: 1px solid $c-dark-gray;
  }
}